@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .phone
    font-size: 20px

  .mail
    font-size: 17px

  .slogan
    font-size: 20px

  .menu
    justify-content: space-between

    li
      margin: 0

  .links-category
    margin: 0 auto 20px

  .slick-arrow
    width: 40px
    height: 40px

  .awards-links
    width: 60px

  .customer-problems__item
    width: 32%

  .prestige-business__item30
    width: 50%

  .prestige-business__item-content
    font-size: 20px

  .footer-item
    padding: 0 10px
    width: 25%

  .mission-company-content
    margin: 40px 0 0

  .mission-company
    h1
      background: #ff4c1f
      margin: 0
      height: 81px
      align-items: center
      display: flex

  .advantages-company
    margin: 100px 0 20px
    -webkit-background-size: cover
    background-size: cover
    h2
      margin: -35px auto 50px

  .federal-companies
    margin: 40px auto 0
    min-height: auto
    -webkit-background-size: 100%
    background-size: 100%
    h2
      text-align: center

  .services-menu
    justify-content: space-around
    li
      a
        padding: 5px
        font-size: 16px
        line-height: normal

/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  .header-box
    text-align: center

  h2, h1, .specialization-company__content, .contacts h1
    font-size: 40px

  .customer-problems__item
    width: 49%
    margin: 0 auto 40px

  .footer-item
    width: 33.3%

  .modal-header
    .close
      right: 10px
      top: 10px
      width: 30px
      height: 30px
    p
      font-size: 20px

  .modal-title
    font-size: 24px

  .modal-content
    padding: 30px

  .modal-dialog
    max-width: 98%

  label
    max-width: 48%

  .form
    button
      margin: 30px auto 0
      font-size: 20px
      padding: 5px 20px

  input
    font-size: 18px

  .iframe-video
    height: 450px

  .schedule
    position: relative
    left: 0
    top: 0
    width: 100%
    max-width: none

  .schedule-text
    margin: 0 auto
    font-size: 20px
    h2
      font-size: 30px
    h3
      font-size: 40px
    h4
      font-size: 24px

  .map
    margin: 0

  .contacts-map .card-body ul
    font-size: 24px

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px)
  .main-home__slider-box
    height: 220px

    img
      width: 100%
      height: 100%
      object-fit: cover

  .main-home__slider
    margin: 0 0 10px

  .slick-dots li
    margin: 0 2px

  .slick-prev
    left: 20px

  .slick-next
    right: 20px

  .comfortable-work-item
    img
      max-width: 150px

    h3
      font-size: 18px
      line-height: normal

    span
      font-size: 14px

  .calmness-item
    h3
      font-size: 18px

    img
      max-width: 140px

  .prestige-business__item30, .prestige-business__item50
    width: 100%

  .views-work
    margin: 40px 0 30px

  .views-work-advertising .btn
    font-size: 20px

  .video-slider__box
    height: 300px

  .card-header .btn
    font-size: 24px

  .card-body
    font-size: 16px
    line-height: normal

  .footer-item
    width: 50%

  .footer-bottom
    margin: 0
    font-size: 12px

  .footer-item__links
    font-size: 12px
    img
      max-width: 40px

  label
    max-width: none
    margin: 0 auto 10px

  .modal-header
    p
      margin: 0 auto 15px
    .close
      width: 20px
      height: 20px

  .form button
    margin: 20px auto 0

  .iframe-video
    height: 300px

  .mission-company-content
    font-size: 18px
    line-height: normal
    margin: 30px 0
    strong
      font-size: 22px

  .mission-company
    min-height: auto
    background: transparent
    h1
      height: auto
      background: transparent
      color: $accent

  .specialization-company
    min-height: auto
    margin: 40px 0 0
    padding: 30px 0

    h2
      margin: 0 auto
      text-align: center

  .specialization-company__content
    margin: 30px auto
    font-size: 30px
    text-align: center

  .federal-companies__content
    margin: 20px auto 0
    padding: 20px
    font-size: 16px

  .services-menu
    li
      width: 33.3%
      a
        br
          display: none

  .contacts-box
    font-size: 24px
    margin: 20px 0 0
    a, .mail
      font-size: 24px

  .contacts
    min-height: auto
    background: transparent
    h1
      text-align: center
      br
        display: none

  .breadcrumb-line
    margin: 30px 0 0

  .contacts-box__icon
    width: 35px
    height: 30px

  .contacts-map
    margin: 30px 0 0

  .contacts-map .card-body
    text-align: left
    ul
      padding: 0
      font-size: 18px

  .contacts-map .card-header .btn
    font-size: 24px
    &:after
      margin: 0 0 0 10px

  .line-social
    font-size: 24px

  .map
    height: 350px

  .contacts-box
    font-size: 20px
    a, .mail
      font-size: 20px

  .installment-terms h3, .exhibition-stands h3
    font-size: 24px

  .list-dots
    padding: 0 0 0 20px

  .installment-terms
    font-size: 14px

  .installment-terms__box
    .btn
      margin: 30px auto 15px

  .exhibition-stands .box-text
    padding: 0

  .exhibition-stands__box-up p
    max-width: none

@media only screen and (max-width: 480px)
  .phone
    font-size: 16px

  .mail
    font-size: 12px

  .btn-burger
    width: 20px

    span
      height: 2px

  .header-bottom
    padding: 10px 0

  .links-category
    font-size: 14px

    img
      max-width: 60px

  h2, h1, .contacts h1
    font-size: 30px

  .youwant-line__item
    font-size: 18px
    margin: 0 auto 20px

    img
      max-width: 100px

  .youwant-line
    .btn
      margin: 20px auto 0

  .btn-order
    font-size: 20px
    height: 45px

  .customer-problems__item
    width: 100%
    height: 220px

  .customer-problems__item-content
    padding: 30px

  .customer-problems
    margin: 40px 0

  .comfortable-work-item, .calmness-item
    h3
      font-size: 16px
      line-height: normal

  .calmness
    padding: 40px 0

  .partners h2
    font-size: 24px

  .footer-item
    padding: 0

  .footer-item__links
    flex-direction: column
    align-items: flex-start
    br
      display: none
    img
      margin: 0 0 10px

  .iframe-video
    height: 250px

  .specialization-company__content
    font-size: 24px

  .specialization-company
    margin: 20px auto 0

  .advantages-company__box
    min-height: auto

  .services-menu
    li
      width: 50%
      a
        font-size: 14px

  .clients-box
    width: 49%
    margin: 10px 0

/* Custom, iPhone Retina */
@media only screen and (max-width: 380px)
  .phone
    font-size: 13px
    margin: 0


