@import "fonts"
@import "vars"
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap')

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  background: url("../img/body-bg.jpg") repeat

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none

  &:hover, &:focus
    text-decoration: none

.mobile-menu
  display: none
  position: fixed
  left: 0
  top: 0
  height: 100%
  overflow-y: auto
  z-index: 5
  background: #ffffff
  padding: 30px 20px

  .menu
    display: block

    li
      width: 100%
      margin: 0 0 10px

      a
        color: $accent

  .logo
    max-width: 200px
    margin: 20px auto

.btn-close
  position: relative
  margin: 0 0 0 auto
  width: 20px
  height: 20px

  &:before, &:after
    content: ''
    position: absolute
    left: 10px
    top: 0
    width: 1px
    height: 100%
    background: $accent

  &:before
    transform: rotate(45deg)

  &:after
    transform: rotate(135deg)

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center

.btn, .btn-primary, button
  outline: none
  box-sizing: border-box
  padding: 0
  border: none
    radius: 0
  cursor: pointer
  transition: .3s ease
  font-family: $default-font

  &:hover, &:focus
    outline: none
    box-shadow: none


.btn-accent
  background: $accent
  color: #fff
  font-size: 20px
  font-weight: 100

  &:hover, &:focus
    background: $footer-bg-bottom
    color: #fff

.btn-order
  margin: 0 auto
  font-size: 30px
  height: 55px
  padding: 0 40px

.menu
  display: flex
  align-items: center
  flex-wrap: wrap
  height: 100%

  li
    margin: 0 30px 0 0

    &:last-child
      margin: 0

    a
      color: #fff
      font-size: 20px
      font-weight: 100

      &:hover
        color: $accent

.btn-burger
  width: 34px
  margin: auto

  span
    display: block
    width: 100%
    background: $accent
    height: 4px
    margin: 0 0 4px

    &:last-child
      margin: 0

.mt-30
  margin-top: 30px


.bg-grey
  background: #EAEAEA

.container
  max-width: 1080px


//header
.header-top
  background: $footer-bg
  color: #fff

  .btn
    height: 47px
    padding: 10px
    margin: 0 0 0 auto

.btn-icon
  margin: 0 10px 0 0

.header-bottom
  padding: 15px 0

.slogan
  text-align: center
  font-style: italic
  font-size: 26px
  font-weight: 100
  height: 100%
  display: flex
  align-items: center

.header-box
  text-align: right

  a
    &:hover
      color: $footer-bg-bottom

.phone
  color: #e44d26
  font-size: 26px
  font-weight: 600
  margin: 0 0 5px

.mail
  color: #5c5c5c
  font-size: 19px

.w-100
  width: 100%

h1
  text-transform: uppercase
  font-size: 48px
  font-weight: bold
  width: 100%

h2
  text-align: center
  font-size: 48px
  font-weight: bold
  margin: 0 auto 30px
  width: 100%
  color: $accent
  text-transform: uppercase

header
  .logo
    display: flex
    align-items: center
    height: 100%

.header-bottom
  background: #fff

//menu-category-section
.links-category
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  font-size: 17px
  font-weight: 400
  color: #000
  margin: 0 0 10px

  &:hover
    color: $accent

.links-category__name
  margin: 20px auto 0

//main-home
.main-home
  position: relative
  margin: 20px 0 0

.awards-links
  position: absolute
  top: -20px
  left: 40px
  z-index: 2

.main-home__slider
  margin: 0 0 25px

.slick-arrow
  z-index: 1
  opacity: 1
  width: 63px
  height: 63px
  cursor: pointer
  border: none

  &:before
    display: none


.slick-next
  background: url("../img/how-its-view-line-slider-next.png") no-repeat center
    size: contain
  right: 50px

  &:hover, &:focus
    background: url("../img/how-its-view-line-slider-next.png") no-repeat center
      size: contain

.slick-prev
  background: url("../img/how-its-view-line-slider-prev.png") no-repeat center
    size: contain
  left: 50px

  &:hover, &:focus
    background: url("../img/how-its-view-line-slider-prev.png") no-repeat center
      size: contain

.slick-dots
  position: relative
  display: block
  width: 100%
  padding: 0
  list-style: none
  text-align: center

  li
    position: relative
    display: inline-block
    width: 20px
    height: 20px
    margin: 0 5px
    padding: 0
    cursor: pointer

    button
      font-size: 0
      line-height: 0
      display: block
      width: 20px
      height: 20px
      padding: 5px
      cursor: pointer
      color: transparent
      border: 0
      outline: none
      background: transparent

      &:hover, &:focus
        outline: none

      &:hover:before, &:focus:before
        opacity: 1

      &:before
        font-family: 'slick'
        font-size: 11px
        line-height: 20px
        position: absolute
        top: 0
        left: 0
        width: 20px
        height: 20px
        content: '⚫'
        text-align: center
        opacity: .25
        color: #E44D26
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale

    &.slick-active button:before
      opacity: .75
      color: #E44D26

//youwant-line
.youwant-line
  margin: 50px 0 0

  .btn
    margin: 40px auto 0

.youwant-line__item
  margin: 0 auto 35px
  text-transform: uppercase
  color: #000
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: 21px
  font-weight: 400

  &:hover
    color: #000

  img
    margin: 0 auto 20px


//views-work
.views-work
  margin: 80px 0 30px

.video-wrapper
  padding: 0 0 45px
  position: relative

  &:before
    content: ''
    position: absolute
    bottom: 0
    left: 50%
    width: 978px
    height: 43px
    transform: translate(-50%, 0)
    background: url("../img/video-shadow.png") no-repeat center
      size: contain

.video-slider
  .slick-next
    right: 0

  .slick-prev
    left: 0


.video-slider__box
  max-width: 840px
  height: 473px
  width: 100%
  margin: 0 auto
  position: relative

  iframe
    width: 100%
    height: 100%
    border: 2px solid black

//customer-problems
.customer-problems
  margin: 70px 0 85px


.wrapper
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap
  justify-content: space-between

.customer-problems__item
  position: relative
  width: 20%
  height: 297px
  padding: 0 5px
  overflow: hidden
  transition: .3s ease
  margin: 0 auto 70px

  img
    width: 100%
    height: 100%
    object-fit: cover

  &:hover
    .customer-problems__item-content
      opacity: 0

.customer-problems__item-content
  position: absolute
  left: 50%
  transform: translate(-50%, 0)
  top: 0
  width: calc(100% - 10px)
  height: 100%
  background: rgba(#1b1b1b, .8)
  color: #fff
  transition: .3s ease
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: space-between
  padding: 50px 50px 30px 30px
  font-size: 15px

  p
    max-width: 170px
    min-height: 60px

  h3
    font-size: 19px
    font-weight: 500
    text-transform: uppercase


//.comfortable-work
.comfortable-work
  padding: 40px 0 60px

.comfortable-work-item
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  margin: 0 auto
  color: #000
  font-weight: normal

  h3
    font-size: 24px
    line-height: 38px

  span
    color: $accent
    font-size: 20px
    margin: 10px auto 0


//calmness
.calmness
  padding: 60px 0

.calmness-item
  margin: 0 auto 20px
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

  h3
    text-transform: uppercase
    margin: 30px auto 0
    font-size: 24px
    line-height: 38px

//benefit-work
.benefit-work
  padding: 0 0 80px

  h2
    margin: 0 auto 40px

  .calmness-item
    margin: 0 auto 70px

  .btn
    font-size: 22px
    height: auto
    max-width: 330px
    padding: 5px

//.new-technology
.new-technology
  padding: 60px 0

  h2
    margin: 0 auto 40px
    color: #EE2524

.new-technology-box
  border-right: 1px solid #000
  padding: 0 30px 0 0
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  font-size: 22px

  h3
    margin: 12px auto
    font-size: 95px
    font-weight: bold
    color: $accent

    span
      font-size: 60px

.technology-line-inner
  margin: 80px auto 0
  width: 85%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between

.technology-line-inner__item
  width: 20%
  padding: 0 5px
  display: flex
  align-items: center
  justify-content: flex-start
  text-align: center
  color: #fff
  position: relative
  font-size: 19px
  margin: 0 auto 50px
  cursor: pointer

  &:hover
    .technology-line-inner__item-content
      opacity: 0


.technology-line-inner__item-content
  width: calc(100% - 10px)
  height: 100%
  padding: 80px 20px 20px
  text-align: center
  position: absolute
  left: 50%
  transform: translate(-50%, 0)
  top: 0
  background: rgba($accent, .8)
  transition: .3s ease

//.prestige-business
.prestige-business
  background: #373636

  h2
    color: #fff
    margin: 10px auto

.prestige-business__item
  position: relative
  overflow: hidden

  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(#373636, .6)
    transition: .3s ease

  &:hover
    &:before, .prestige-business__item-content
      opacity: 0


.prestige-business__item50
  width: 50%

.prestige-business__item30
  width: 33.3%

.prestige-business__item-content
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  padding: 10px
  font-size: 24px
  text-align: center
  color: #fff
  text-transform: uppercase
  width: 320px
  height: 120px
  background: rgba($accent, .4)
  display: flex
  align-items: center
  justify-content: center
  z-index: 1
  transition: .3s ease

//.views-work-advertising
.views-work-advertising
  .container
    max-width: 1340px

  .btn
    width: 100%
    height: 80px
    text-align: center
    font-size: 27px
    line-height: 1
    margin: 40px 0 0

  .btn-icon
    margin: 0 15px 0 0

.about
  margin: 50px auto 0

.card
  margin: 0 0 20px
  border: none
    radius: 0
  background: transparent

.card-header
  padding: 0
  border: none
  background: transparent

  .btn
    text-align: left
    color: $accent
    font-size: 27px
    font-weight: 500

    &:hover, &:focus
      text-decoration: none

    &:after
      content: ''
      display: inline-block
      background: url("../img/videoslider-line__about_title.png") no-repeat center
        size: contain
      width: 25px
      height: 14px
      margin: 0 0 0 10px
  .collapsed
    &:after
      transform: rotate(180deg)

.card-body
  padding: 20px 0
  font-size: 21px
  text-align: justify
  line-height: 1.6

  p
    margin: 0 0 10px

    &:last-child
      margin: 0

  ul
    list-style-type: disc
    padding-left: 40px
    margin-bottom: 10px


//partners
.partners
  padding: 40px 0 0

  h2
    font-size: 30px

.partners-slider-wrapper
  background: #fff
  padding: 10px 0

.partners-slider
  max-width: 940px
  width: 100%
  margin: 0 auto
  padding: 0 50px

  .slick-arrow
    width: 32px
    height: 32px
    transition: none

  .slick-next
    right: 0
    background: url("../img/next.png") no-repeat 0 0

    &:hover
      background: url("../img/next.png") no-repeat 0 -32px

  .slick-prev
    left: 0
    background: url("../img/prev.png") no-repeat 0 0

    &:hover
      background: url("../img/prev.png") no-repeat 0 -32px


.partners-slider__box
  margin: 0 auto
  display: flex
  align-items: center
  justify-content: center
  height: 76px

  img
    max-height: 100%

.slick-slide
  outline: none

//footer
footer
  background: #393939
  color: #d2d2d2
  padding: 20px 0 0

  .wrapper
    margin: 40px 0 20px
    justify-content: flex-start

  h4
    font-size: 14px

    button
      background: transparent
      color: #d2d2d2
      text-decoration: underline

      &:after
        content: '/'
        display: inline-block
        margin: 0 5px

      &:last-child
        &:after
          display: none

      &:hover
        text-decoration: none

.footer-item
  padding: 0 15px
  width: 20%
  margin: 0 0 30px

.footer-item__links
  display: flex
  align-items: flex-start
  color: #d2d2d2
  text-decoration: underline
  font-size: 13px

  &:hover
    text-decoration: none
    color: #d2d2d2

  img
    margin: 0 10px 0 0

.footer-bottom
  background: #333333
  margin: 20px 0 0
  padding: 20px 0
  font-size: 15px
  color: #d2d2d2

.developer
  text-align: right
  color: #d2d2d2

  &:hover
    color: $accent

.menu-footer
  line-height: 17px
  margin: 10px 0 0
  font-size: 14px

  li
    margin: 0 0 7px

    &:last-child
      margin: 0

    a
      color: #d2d2d2
      text-decoration: underline

      &:hover
        text-decoration: none
        color: #d2d2d2

.modal-dialog
  max-width: 798px


.modal-content
  padding: 30px 50px 60px
  border: none
    radius: 0

.modal-dialog-scrollable .modal-content
  overflow: visible

.modal-header
  padding: 0
  border: none
  flex-wrap: wrap
  text-transform: uppercase

  p
    margin: 0 auto 30px
    font-size: 27px
    color: #000
    text-align: center

  .close
    margin: 0
    position: absolute
    z-index: 1
    width: 54px
    height: 54px
    opacity: 1
    background: url("../img/close-icon.png") no-repeat center
      size: contain
    top: -22px
    right: -22px
    padding: 0

    &:hover
      opacity: 1

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover
  opacity: 1

modal-body
  padding: 0

.modal-title
  text-align: center
  font-weight: bold
  color: $accent
  text-transform: uppercase
  width: 100%
  font-size: 48px
  margin: 0 auto 10px

.form
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between

  button
    margin: 40px auto 0
    padding: 9px 40px
    font-size: 30px
    text-transform: uppercase

label
  display: block
  width: 100%
  max-width: 321px

input
  height: 49px
  border: 1px solid #E44D26
    radius: 0
  width: 100%
  font-size: 27px
  padding: 0 10px
  outline: none
  box-shadow: none
  text-transform: uppercase

//about page
.about-page-line__video
  margin: 0 0 -30px
  background: url('../img/about/about-page-line__video.jpg') no-repeat center 366px

  .iframe-video
    max-width: 1025px

.iframe-video
  display: flex
  width: 100%
  margin: 0 auto
  height: 580px
  border: 2px solid #000

//breadcrumb-line
.breadcrumb-line
  margin: 60px 0 0

.breadcrumb-nav
  background: transparent

.breadcrumb
  padding: 0
  background: transparent
  border-radius: 0
  font-size: 14px
  margin: 0

.breadcrumb-item
  color: $accent

  a
    color: $accent
    text-decoration: underline

.breadcrumb-item.active
  color: $accent

.breadcrumb-item + .breadcrumb-item
  padding: 0

  &::before
    content: '\2192'
    padding: 0
    color: inherit
    margin: 0 5px

.breadcrumb-line-internal
  margin: 20px 0

  .breadcrumb-item
    color: #5c5c5c
    font-size: 16px

    a
      color: #08c
      text-decoration: none

      &:hover
        text-decoration: underline
        color: #005580

//mission-company
.mission-company
  margin: 30px 0 0
  background: url('../img/about/about-page-line__miss.png') no-repeat center center
  min-height: 469px

  h1
    color: #fff
    margin: 15px 0 0 55px

.mission-company-content
  margin: 100px 0 0
  font-size: 22px
  color: #393939
  line-height: 1.4

  strong
    font-size: 36px

  p
    margin: 0 0 10px

    &:last-child
      margin: 0

//specialization-company
.specialization-company
  background: url('../img/about/about-page-line__spets.png') no-repeat center center
  margin: 80px 0 0
  min-height: 428px

  h2
    text-align: left
    margin: 45px 0 0 50px

.specialization-company__content
  font-size: 48px
  font-weight: bold
  text-transform: uppercase
  color: #fff
  text-align: right
  margin: 60px 58px 0 0

//advantages-company
.advantages-company
  margin: 120px 0 20px
  background: url('../img/about/about-page-line__preim.jpg') no-repeat center center
    size: cover

  h2
    width: fit-content
    padding: 4px 15px
    margin: -35px auto 70px
    background: $accent
    color: #fff

.advantages-company__box
  background: #fff
  margin: 0 auto 40px
  padding: 25px 10px
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  font-size: 22px
  min-height: 207px

//federal-companies
.federal-companies
  margin: 110px 0 0
  min-height: 478px
  background: url('../img/about/about-page-line__map.png') no-repeat center center

  h2
    text-align: left
    color: #363636

.color-accent
  color: $accent

.federal-companies__content
  margin: 40px
  padding: 40px
  color: #fff
  background: #363636
  font-size: 22px
  text-align: justify
  line-height: 1.6

//page clients
.page-internal
  background: url('../img/bga.png') no-repeat center bottom
  .partners
    padding: 0
  .container
    max-width: 970px
  h1
    text-transform: none
    letter-spacing: -1px
    font-size: 30px
    font-weight: 300
    color: $accent
    margin: 10px 0

.services-line
  background: #ececec

.services-menu
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap

  li
    a
      height: 100%
      padding: 10px 25px
      text-align: center
      text-transform: uppercase
      line-height: 25px
      color: #393939
      font-size: 20px
      font-weight: 100
    .active
      background: $accent
      color: #fff

.clients-box
  width: 165px
  margin: 10px
  text-align: center
  color: #5c5c5c

.clients-box__img
  display: flex
  align-items: center
  justify-content: center
  margin: 0 auto 10px
  padding: 20px
  background: #fff
  border: 1px solid #c3c3c3
    radius: 5px
  height: 118px

//contacts page
.contacts
  background: url("../img/contacts-line_contacts.png") no-repeat center top
  min-height: 520px
  margin: 20px 0 0
  h1
    color: #EE2524
    font-size: 46px

.contacts-box
  position: relative
  padding: 0 0 0 50px
  font-size: 30px
  font-weight: normal
  margin: 30px 0 0
  color: #000
  a, .mail
    color: #000
    font-weight: 400
    font-size: 30px

.contacts-box__icon
  position: absolute
  left: 0
  top: 0
  width: 45px
  height: 35px
  display: flex
  align-items: center
  justify-content: center

//contacts-map
.map
  margin: 170px 0 0
  height: 450px
  width: 100%

.contacts-map
  position: relative
  .card-header .btn
    color: #ee2524
    font-size: 30px
    font-weight: bold
    &:after
      margin: 0 0 0 40px
  .card-body
    padding: 10px 0
    ul
      padding: 0 0 0 30px
      list-style: none
      font-size: 30px
      margin: 0

.schedule
  background: #eb3825
  color: #fff
  width: 100%
  max-width: 555px
  height: auto
  font-size: 30px
  text-align: center
  position: absolute
  left: 0
  top: -150px
  z-index: 2
  padding: 30px 50px
  h2
    color: #fff
    font-weight: 100
    font-size: 48px
    margin: 0 0 10px

.schedule-text
  max-width: 300px
  width: 100%
  margin: 0 0 0 auto
  font-size: 30px
  h3
    font-size: 60px
    font-weight: bold
    margin: 10px auto
  h4
    font-size: 48px
    font-weight: 500

.line-social
  margin: 40px 0 20px auto
  padding: 30px
  font-size: 27px
  color: #fff
  position: relative
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    background: #393939
    height: 100%
    width: 720px
  >*
    position: relative

.list-social
  display: flex
  align-items: center
  justify-content: flex-start
  margin: 12px 0 0
  li
    margin: 0 17px 0 0
    &:last-child
      margin: 0
    a
      display: flex
      align-items: center
      justify-content: center

.mt-40
  margin-top: 40px

//.installment-terms
.installment-terms
  h3
    font-weight: 300
    color: $accent
    font-size: 30px
    margin: 20px 0 10px
    text-transform: none
  img
    margin: 20px 0 10px
  ul
    font-style: italic


.list-dots
  list-style-type: disc
  padding: 0 0 0 40px

.installment-terms__box
  border-bottom: 1px solid #eee
  padding: 0 0 20px
  margin: 0 0 20px
  color: #5c5c5c
  max-width: 800px
  .btn
    margin: 40px auto 20px
    font-weight: bold
    text-transform: uppercase
  &:last-child
    margin: 0
    border: none
    padding: 0

.color-blue
  color: #08c

.links
  display: inline-block
  &:hover
    text-decoration: underline

.box-text
  line-height: 1.6em
  color: #5c5c5c
  p
    margin: 0 0 20px
    &:last-child
      margin: 0
  strong
    font-weight: bold

//exhibition-stands
.exhibition-stands
  h1
    margin: 10px 0 20px
  .box-text
    padding: 0 0 0 25px
    margin: 0 0 20px
  h3
    font-weight: 300
    color: $accent
    font-size: 30px
    margin: 10px 0
    text-transform: none

.exhibition-stands__box-up
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  font-size: 17px
  margin: 0 auto 20px
  color: $text
  p
    max-width: 230px
    margin: 0 auto
    width: 100%

.exhibition-stands__box-up-title
  margin: 20px auto 10px
  font-weight: bold
  color: #08c

.decor-bg
  position: relative
  padding: 0 0 20px
  &:before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 20px
    background: url('../img/sld.jpg') repeat

.add-reviews
  background: $accent
  color: #fff
  padding: 2px 7px
  font-style: italic
  width: fit-content
  margin: 0 0 25px auto
  position: relative
  &:hover
    color: #fff

.reviews-box
  margin: 0 0 30px
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  position: relative

.reviews-box__photo
  position: absolute
  left: 0
  top: -10px
  display: flex
  flex-direction: column
  align-items: flex-end
  z-index: 1

.photo-user
  width: 170px
  display: flex
  align-items: center
  justify-content: center

.logo-company
  width: 80px
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  right: -20px
  bottom: 0

.reviews-box__content
  border: 3px solid #898989
    radius: 7px
  box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.33)
  background: #ffffff
  width: calc(100% - 90px)
  margin: 0 0 0 auto
  padding: 20px 20px 20px 100px
  font-size: 15px
  font-style: italic
  min-height: 120px
  blockquote
    margin: 0 0 30px
    position: relative
    padding: 0 15px 33px 20px
    color: $text
    text-align: justify
    &:before, &:after
      content: ''
      position: absolute
      width: 23px
      height: 25px
    &:before
      left: -15px
      top: 0
      background: url("../img/otzbeg.gif") no-repeat center
        size: contain
    &:after
      bottom: 0
      right: 0
      background: url("../img/otzend.gif") no-repeat center
        size: contain
    p
      margin: 0 0 10px
      &:last-child
        margin: 0
  .add-reviews
    margin: 5px 0 0 auto


.name-user, .company-user
  color: $accent
  font-weight: bold
  font-size: 15px
  font-style: italic
  padding: 0 0 0 20px

.name-user
  margin: 0 0 5px

.more-reviews
  font-weight: bold
  text-align: right
  width: 100%
  margin: 0 0 -30px
  padding: 0 20px 0 0
  color: #00b8e1
  font-style: normal
  font-size: 16px
  &:hover
    color: $accent

//page price
.main-price
  margin: 0

.main-price
  .main-home__slider
    .slick-dots
      display: none

.price-line-description
  margin: 60px 0 80px
  .img-wrap
    width: 581px
    margin: 25px -85px 0 0
    z-index: 1
    position: relative
    max-width: none
    float: right

.price-line-description-box
  background: $accent
  color: #fff
  font-size: 22px
  font-weight: 300
  line-height: 25px
  padding: 50px 150px 50px 25px
  strong
    font-weight: bold

//price-benefit
.price-benefit
  background: url("../img/price/price-line__vygoda_bg.png") no-repeat center top
    size: cover
  padding: 0 0 30px
  h2
    margin: 20px 0 10px
    position: relative
    color: #fff
  .btn
    margin: 40px auto 0

.price-benefit-box
  width: 100%
  margin: 80px 0 0
  h3
    color: $accent
    font-weight: bold
    font-size: 46px

.price-benefit-icon
  display: flex
  align-items: center
  justify-content: center
  width: 90px
  min-width: 90px
  height: 90px
  margin: 0 30px 0 0

.price-benefit-box__head
  display: flex
  align-items: center
  margin: 0 0 30px

.price-benefit-box__body
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: center
  padding: 0 0 0 80px

.price-benefit-box__text
  background: $accent
  color: #fff
  max-width: 420px
  width: 100%
  text-align: justify
  font-size: 22px
  line-height: 25px
  padding: 20px 25px

.btn-red
  background: #EE2524

.btn-border
  background: transparent
  color: $accent
  border: 2px solid #e44d26
  font-size: 29px
  font-weight: 300
  padding: 0 5px
  text-transform: uppercase
  .btn-text
    span
      font-size: 18px
      display: block
  img
    transition: .3s ease
    margin: 0 10px 0 0
  &:hover, &:focus
    background: $accent
    color: #fff
    border-color: $accent
    img
      filter: brightness(0) invert(1)

.btn-download
  max-width: 250px
  width: 100%

//.price-download
.price-download
  margin: 60px auto 0
  text-align: center
  h3
    font-size: 46px
    color: $accent
  .btn
    margin: 40px auto 0
  .box-text
    max-width: 690px
    width: 100%
    font-size: 22px
    margin: 20px auto 0
    color: #333
  h2
    margin: 20px auto

.color-red
  color: $red

.img-arrow
  margin: 0 auto


@import "media"
// Всегда в конце
